$White: #FFFFFF;
$JacksonsPurple: #2222A0;
$DarkJacksonsPurple: #19197F;
$BlueBell: #9090CF;
$DodgerBlue: #179CFF;
$BrightTurquoise: #03F9D5;
$MulledWine: #4E4C6B;
$ParisM: #2D0760;
$Plum: #8E2877;
$CeriseRed: #DB3069;
$MaroonFlush: #BB2859;
$BlueViolet: #6060BC;
$PictonBlue: #40EAF3;
$Turquoise: #31D9E2;
$Turquoise2: #3BD5DD;
$JellyBean: #29959B;
$Hibiscus: #BB3069;
$Victoria:#454590;
$PickledBluewood: #314358;
$FunBlue: #145093;
$Red: #F70000;
$Orange: #FF6124;
$Supernova: #FFCC00;
$Lemon: #FFE909;
$PersianRed: #D52A2C;
$Red2: #FF1216;
$Vermilion:#FF4500;
$Flamenco: #FF810D;
$PersianBlue: #2832E1;
$BlueRibbon: #0C69FA;
$Cerulean: #00AFF0;
$DodgerBlue2: #31D4FF;
$Affair: #7B519D;
$MediumPurple: #9C44E5;
$Green: #00B900;
$Green2: #02E102;
$Monza: #BD081C;
$Red3: #EA001A;
$Cerulean2: #00B0E7;
$Cyan: #14D0FF;
$DeepCerulean: #0077B5;
$Cerulean3: #00A0DC;
$Wedgewood: #4D75A3;
$HavelockBlue: #3A84D8;
$BrandyPunch: #D7772D;
$Flamenco2: #FF760C;
$VioletRed: #F94877;
$BrinkPink: #FF6790;
$DodgerBlue3: #15A7FF;
$Malibu: #5ADBFF;
$Chambray: #3B5998;
$Mariner: #2E64D7;
$AlizarinCrimson: #D62D20;
$InternationalOrange: #FF4E00;
$CeruleanBlue: #3030D4;
$CornflowerBlue: #7575FF;
$GullGray: #99ACBA;
$Thunderbird: #D51818;
$BrightTurquoise2: #00FFDA;
$CaribbeanGreen: #05C1A5;