$main_font: "Rubik", sans-serif;
$LandingTopBarHeight: 52px;
$LandingBottomBarHeight: 35px;
$loginMaxHeightBreakpoint: 710px;
$smallMobileBreakpoint: 360px;
$mobileBreakpoint: 540px;
$ipadPortraitBreakpoint: 768px;
$ipadBreakpoint: 1024px;
$laptopBreakpoint: 1366px;
$ProfilerNavBarHeight: 56px;
$ProfilerNavBarHeightMobile: 104px;
$ProfilerNavBarHeightNoProgressMobile: 48px;

$mq-breakpoints: (
  small: 360px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px
);

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
